---
title: Clauses
description: The NoSQL query language provides many language clauses that can be used to build complex query language expressions.
ms.date: {{ date }}
---

# NoSQL query language clauses

Queries built in the NoSQL query language are constructed of various supported clauses that are built in to the query language.

## Clauses

Here's a list of clauses that the NoSQL query language currently supports:

| | Description |
| --- | --- |
{{ #links }}
| **[`{{ title }}`]({{ file }})** | {{ description }} |
{{ /links }}
