---
title: Functions
description: The NoSQL query language provides many built-in functions for common tasks across a wide variety of categories.
ms.date: {{ date }}
---

# NoSQL query language functions

The NoSQL query language includes a series of system functions that are built in to the query language and designed to handle a wide variety of common tasks.

## Functions

Here's a list of functions that the NoSQL query language currently supports:
{{ #groups }}

### {{ title }}

| | Description |
| --- | --- |
{{ #links }}
| **[`{{ title }}`]({{ file }})** | {{ description }} |
{{ /links }}
{{ /groups }}
