---
title: Keywords
description: The NoSQL query language reserves keywords for use in special expressions for queries.
ms.date: {{ date }}
---

# NoSQL query language keywords

The NoSQL query language's query language includes a set of reserved keywords that are used in queries for extended functionality.

## Keywords

Here's a list of keywords that the NoSQL query language currently supports:

| | Description |
| --- | --- |
{{ #links }}
| **[`{{ title }}`]({{ file }})** | {{ description }} |
{{ /links }}
