---
title: {{ name }}
titleSuffix: Azure Cosmos DB for NoSQL
description: Azure Cosmos DB for NoSQL provides many built-in functions for common tasks across a wide variety of categories.
author: seesharprun
ms.author: sidandrews
ms.reviewer: jacodel
ms.topic: generated-reference
ms.date: {{ date }}
ai-usage: ai-assisted
appliesto:
  - Azure Cosmos DB for NoSQL
  - Cosmos DB in Fabric
---

# NoSQL query language reference

Azure Cosmos DB for NoSQL has the ability to query data by writing queries using a custom NoSQL dialect derived from Structured Query Language (SQL) with JavaScript Object Notation (JSON) as the primary data type language.

## Functions

Here's a list of functions that are currently supported by the NoSQL query language.
{{ #groups }}

### {{ title }}

| | Description |
| --- | --- |
{{ #links }}
| **[`{{ title }}`]({{ file }}.md)** | {{ description }} |
{{ /links }}
{{ /groups }}