---
title: {{ name }}
description: {{ description }}
ms.date: {{ date }}
---

# `{{{ name }}}` (NoSQL query)

{{& description }}
{{ #renderSummary }}

{{& summary }}
{{ /renderSummary }}

## Syntax

```nosql
{{{ syntax }}}
```
{{ #renderArguments }}

## Arguments

| | Description |
| --- | --- |
{{ #arguments }}
| **`{{{ name }}}`** | {{& description }} |
{{ /arguments }}
{{ /renderArguments }}

## Return types

{{& returns }}
{{ #renderExamples }}

## Examples

This section contains examples of how to use this query language construct.
{{ #useSample }}

Consider this sample set of documents within the `{{ examples.sample.set }}` collection for these examples.

```json
{{{ sampleJson }}}
```
{{ /useSample }}
{{ #examples }}

### {{ title }}
{{ #explanation }}

{{& explanation }}
{{ /explanation }}
{{ #description }}

{{& description }}
{{ /description }}

```nosql
{{{ query }}}
```

```json
{{{ result }}}
```
{{ /examples }}
{{ /renderExamples }}
{{ #renderRemarks }}

## Remarks

{{ #remarks }}
- {{& . }}
{{ /remarks }}
{{ /renderRemarks }}

## Related content

- [NoSQL query reference](index.md)
{{ #resources }}
- [`{{ title }}`]({{ file }}.md)
{{ /resources }}
